body
{
  margin:0;
  padding:0;
  background:#C1DFF0;
  color:#1e1e1f;
  font-family:montserrat,Arial,Helvetica,sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root
{
  margin:0 24px;
  position:relative;
  min-height:100vh;
}